@model ICS.Models.ORDER_DETAIL

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

 <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.print.css")" rel="stylesheet" type="text/css" media="print"/>

    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>

    <!-- twitter bootstrap css library-->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.extra.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.cleditor.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/bootstrap-modal.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-dropdown.js")" type="text/javascript"></script>
    
    <!-- jquery ui -->
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script> 
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
 
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tablesorter.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-calendar.js")" type="text/javascript"></script>
   
    @*<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/methods_es.js")" type="text/javascript"></script>*@

    <!--WYSIWYG editor-->
    <script src="@Url.Content("~/Scripts/jquery.cleditor.min.js")" type="text/javascript"></script>
    
    <!--chossen jquery dropdown-->
     <link href="@Url.Content("~/Content/chosen.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/chosen.jquery.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("div.chzn-select select").chosen();
            $(".chzn-select-deselect").chosen({ allow_single_deselect: true });
        });
    </script>


    <fieldset>
        <legend>ORDER_DETAIL</legend>

        <div class="clearfix">
            @Html.LabelFor(model => model.idPOLine)
        <div class="input">
            @Html.EditorFor(model => model.idPOLine)
            @Html.ValidationMessageFor(model => model.idPOLine)
        </div>
        </div>

        <div class="clearfix">
            @Html.LabelFor(model => model.iPOID)
        <div class="input">
            @Html.EditorFor(model => model.iPOID)
            @Html.ValidationMessageFor(model => model.iPOID)
        </div>
        </div>

        <div class="clearfix">
            @Html.LabelFor(model => model.iArticleID)
        <div class="input chzn-select">
            @Html.DropDownList("iArticleID","Select Article")
            @Html.ValidationMessageFor(model => model.iArticleID)
        </div>
        </div>

        <div class="clearfix">
            @Html.LabelFor(model => model.cArticleDescription2)
        <div class="input">
            @Html.EditorFor(model => model.cArticleDescription2)
            @Html.ValidationMessageFor(model => model.cArticleDescription2)
        </div>
        </div>

        <div class="clearfix">
            @Html.LabelFor(model => model.dOrderQuantity)
        <div class="input">
            @Html.EditorFor(model => model.dOrderQuantity)
            @Html.ValidationMessageFor(model => model.dOrderQuantity)
        </div>
        </div>

        <div class="clearfix">
            @Html.LabelFor(model => model.dRecievedQuantity)
        <div class="input">
            @Html.EditorFor(model => model.dRecievedQuantity)
            @Html.ValidationMessageFor(model => model.dRecievedQuantity)
        </div>
        </div>

        <div class="clearfix">
            @Html.LabelFor(model => model.dUnitPrice)
        <div class="input">
            @Html.EditorFor(model => model.dUnitPrice)
            @Html.ValidationMessageFor(model => model.dUnitPrice)
        </div>
        </div>

        <div class="clearfix">
            @Html.LabelFor(model => model.dValue)
        <div class="input">
            @Html.EditorFor(model => model.dValue)
            @Html.ValidationMessageFor(model => model.dValue)
        </div>
        </div>

       @* <p>
            <input type="submit" value="Create" />
        </p>*@

        <div class="">
            <input type="submit" class="btn primary" value="Edit" />
            <input type="button" class="btn closeModal" value="Close window" /> 
        </div>

    </fieldset>


        

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
