@model ICS.Models.SEASON

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SEASON</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.iSeasonID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.iSeasonID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cSeasonCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cSeasonCode)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cSeasonDescription1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cSeasonDescription1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cSeasonDescription2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cSeasonDescription2)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index",new { id = Model.iSeasonID })
    </p>
}
